// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  text-decoration: none;
}

.container_content {
  width: 700px;
  margin: 0 auto;
}

h4 {
  font-family: 'Helvetica Neue';
  color: #757575;
}

a {
  font-family: 'Roboto Slab', sans-serif;
  color: #337AB3;
}

ul p {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}
